BasedOnStyle: LLVM
SortIncludes: true
IncludeCategories:
  - Regex: '^<pch\.h>$'
    Priority: -1
  - Regex: '^<.*>$'
    Priority: 2
  - Regex: '^".*"$'
    Priority: 3
  - Regex: '.*'
    Priority: 4